.venv/
venv/
/env/
__pycache__/
*.pyc
*.pyo

models/
dataset/
runs/
!runs/doom-v1/weights/best.pt
!runs/doom-v1/results.csv
*.pt
!runs/doom-v1/weights/best.pt
*.onnx

.ipynb_checkpoints/
.streamlit/
.cache/

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
